@charset "UTF-8";

/*===================================
文件名  ：mod-detail.css
修改人  ：paddyxiong
修改时间：2015-4-29
版  本  ：v1.0
说  明  ：详情页统一模板
====================================*/

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
i,
b,
s {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

ul,
ol {
	list-style: none;
}

a img {
	border: none;
	vertical-align: top;
}

a {
	text-decoration: none;
}

button {
	overflow: visible;
	padding: 0;
	margin: 0;
	border: 0 none;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
}

textarea,
input {
	background: none;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

input[type=password] {
	-webkit-text-security: disc;
}

textarea:focus,
input:focus,
button:focus {
	outline: none;
}

body {
	word-wrap: break-word;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	-webkit-user-select: none;
	/* 禁止选中文本（如无文本选中需求，此为必选项） */
	user-select: none;
	-webkit-text-size-adjust: none;
	/* 禁止字体横屏变大 */
}

img,
canvas,
iframe,
video,
svg {
	max-width: 100%;
	/* 响应式图片 */
}

.overflow-container {
	overflow-y: scroll;
	/* 响应式图片 */
}


/*==============================
 * Title: reset
 * Description: 独立版、结合版内嵌H5页面需要禁止选中文 */


/*===================================
文件名: mod-list.css
编辑者: paddyxiong
编辑时间: 2015-7-13
版本: v1.0
描述：列表元素
====================================*/


/* [[ 公共模块调用*/

.color-m {
	color: #333;
}

.ui-border-b::after,
.ui-f-border-b::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	width: 100%;
	height: 1px;
	background-color: #e1e1df;
	-webkit-transform: scaleY(0.5);
}

.vm {
	/* box flex 居中 */
	-webkit-box-align: center;
}


/* 公共模块调用 ]]*/


/* [[ mod-list.css start */

.mod-list-item {
	display: -webkit-box;
	background-color: #fff;
}

.mod-list-item:active {
	background: #F5F5F5;
}


/* 标题 */

.mod-list-title {
	padding: 12px 15px 12px 15px;
	font-size: 14px;
	height: 14px;
	color: #6d6d6d;
}


/* 列表页公告 */

.tips .fg-arrow:before {
	border-top: 2px solid #fe6815;
	border-right: 2px solid #fe6815;
}

.fg-arrow:before {
	position: absolute;
	top: 50%;
	right: 2px;
	margin-top: -5px;
	display: inline-block;
	width: 7px;
	height: 7px;
	content: ".";
	font-size: 0;
	border-top: 2px solid #dadada;
	border-right: 2px solid #dadada;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mod-list-tip {
	-webkit-box-flex: 1;
	position: relative;
	cursor: pointer;
	font-size: 0;
}

.mod-list-tip:before {
	content: "公告";
	width: 35px;
	height: 16px;
	line-height: 16px;
	display: inline-block;
	background: #fe6815;
	color: #fff;
	text-align: center;
	margin-right: 5px;
	position: absolute;
	left: 0;
	top: 4px;
	font-size: 12px;
	border-radius: 2px;
}

.mod-list-tip span {
	display: inline-block;
	font-size: 16px;
	color: #fe6815;
}

.mod-list-tip span.tips {
	text-indent: 45px;
	line-height: 25px;
	word-wrap: break-word;
	word-break: break-all;
}

.mod-list .mod-list-item {
	padding: 12px 15px 13px 15px;
	min-height: 25px;
	position: relative;
	cursor: pointer;
}


/* 描述框 */

.mod-list .mod-list-item .ui-describe {
	display: block;
	border: none;
	width: 100%;
	font-size: 14px;
}

.mod-list .mod-list-item .ui-describe.phone {
	line-height: 28px;
	height: 28px;
}

.mod-list .mod-list-item .ui-describe.text {
	min-height: 80px;
	margin-bottom: 20px;
}

.mod-list .mod-list-item p.limit {
	position: absolute;
	right: 16px;
	bottom: 10px;
	font-size: 14px;
	color: #888;
}

.mod-list .ui-margin-10 {
	margin-top: 10px;
}

.mod-list .ui-margin-10:first-child {
	margin-top: 0;
}

.mod-list .ui-border-b:after {
	left: 15px;
	width: auto;
}

.mod-list .ui-f-border-b:after,
.mod-list .ui-border-b:last-child:after {
	left: 0;
	width: auto;
}

.mod-list .name,
.mod-list .title {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	width: 100%;
	display: block;
	font-size: 16px;
	font-weight: normal;
	padding-right: 8px;
	-webkit-box-sizing: border-box;
	/*-webkit-box-flex:1;*/
}

.mod-list .name,
.mod-list .title-wrap {
	width: 100%;
	display: block;
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
	-webkit-box-sizing: border-box;
	/*-webkit-box-flex:1;*/
}

.mod-info .name,
.mod-info .title {
	-webkit-box-flex: 1;
}


/* name-low 说明：灰色,12px文字 */

.name-low .name,
.title-low .title {
	font-size: 12px;
	color: #B3B3B3;
}

.mod-list .avatar {
	margin-right: 16px;
}

.mod-list .list-info {
	/*font-weight: normal;
  display: block;*/
	-webkit-box-flex: 1;
	padding-right: 5px;
}

.mod-list time,
.mod-list .time {
	display: block;
	font-size: 14px;
	color: #B3B3B3;
	height: 100%;
	text-align: right;
}

.mod-list .more-info {
	overflow: hidden;
}

.mod-list .more-info p {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
}

.mod-list .more-info time,
.mod-list .more-info .time {
	text-align: left;
	font-size: 12px;
}

.mod-list .more-info p.desc,
.desc {
	color: #B3B3B3;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	display: block;
}

.mod-list .desc span {
	margin: 0 8px 0 0;
}

.more-info [class*="fg-"] {
	margin: 0 5px 0 0;
	display: block;
	line-height: 16px;
	z-index: 1;
}

.mod-list .fg-male::before {
	color: #74d1f7;
}

.mod-list .fg-female::before {
	color: #ff809e;
}

.more-info .name,
.more-info .title {
	width: auto;
	max-width: 70%;
}

.more-info .full-l {
	max-width: 95%;
}


/* 选点 */

.vico {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 50%;
	z-index: 1;
	margin-top: -10px;
	border-radius: 50%;
	background: #FFF;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-webkit-transition: all .3s ease-in-out;
	display: none;
}

.mod-vote-multiple .vico {
	display: block;
}

.mod-vote-multiple .selected .green {
	background: #02bb00;
	border-color: #02bb00;
}

.mod-vote-multiple .selected .blue {
	background: #18b4ed;
	border-color: #18b4ed;
}

.mod-vote-multiple .selected .vico {
	background-image: url(../../images/mod/vote-check.png);
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
}


/* name-group 说明：在同一行包括名称，标题 + 描述的组合形式 */

.mod-list p.name-group {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	display: block;
}


/* msg-of 说明：内容文字颜色,14px文字 */

.mod-list p.msg-of {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	display: block;
}

.name-group .name {
	overflow: visible;
	max-width: none;
	display: inline;
}

.more-info .fg-syblevels {
	position: relative;
	width: 22px;
	height: 22px;
	line-height: 25px;
	display: block;
	font-size: 9px;
	text-align: center;
	color: #feac5a;
}

.more-info .fg-syblevels::before {
	color: #feac5a;
	font-size: 22px;
	position: absolute;
	left: 0;
	top: -1px;
	z-index: -1;
}


/*
.more-info [class*="fg-level-"]{
  line-height: normal;
  width: 20px;
  height: 22px;
  line-height: 22px;
  font-size: 10px;
  text-align: center;
  position: relative;
  color: #7D3200;
}
.more-info [class*="fg-level-"]::before{
  font-size: 20px;
  color: #f8af04;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: -1;
}
.more-info [class*="fg-level-h"]{
  width: 20px;
  height: 22px;
  line-height: 26px;
}
.more-info [class*="fg-level-h"]::before{
  font-size: 26px;
  color: #f8af04;
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: -1;
}*/

.mod-list-item .meta {
	display: -webkit-box;
	-webkit-box-align: center;
}

.mod-list-item .meta span {
	padding: 0 5px 0 0;
}

.mod-list-item .meta .text {
	-webkit-box-flex: 1;
	font-size: 12px;
	color: #B3B3B3;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	padding-right: 10px;
}

.mod-list-item .meta .text time {
	width: auto;
	display: inline-block;
	font-size: 12px;
}

.mod-list-item .meta .action {
	font-size: 12px;
	color: #B3B3B3;
}

.mod-list-item .meta .action span {
	padding: 0;
}

.mod-list-item .meta .action [class*="fg-"]+span {
	margin: 0 0 0 8px;
}

.mod-list-item .meta .action [class*="fg-"]::before {
	margin-right: 3px;
}

.msg-quote {
	width: 60px;
	font-size: 14px;
	color: #B3B3B3;
	height: 60px;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	text-align: justify;
}

.msg-type-video {
	position: relative;
}

.msg-type-video::before {
	content: "";
	border-top: 5px solid transparent;
	border-right: 5px solid #FFF;
	border-bottom: 5px solid #FFF;
	border-left: 5px solid transparent;
	width: 0px;
	height: 0px;
	-webkit-transform: rotate(-45deg);
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	margin: -4px 0 0 -6px;
}

.msg-type-video::after {
	content: "";
	width: 28px;
	height: 28px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -14px 0 0 -14px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	/*box-shadow: 0 0px 2px rgba(0,0,0,.8);*/
	border: 1px solid #FFF;
}

.list-btn-group .btn {
	margin-right: 8px;
}

.col-2-list {
	/* 两列的块状布局 */
}

.col-2-list ul {
	overflow: hidden;
	/*清除浮动*/
}

.col-2-list .mod-list-item {
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	padding: 15px 0px 15px 25px;
}

.col-2-list .ui-border-b::after {
	left: 0;
}

.col-2-list .name,
.col-2-list .title {
	padding-right: 0;
}


/* 纯文字链接 */

.text-list .mod-list-item.ui-border-b::after {
	left: 16px;
	width: auto;
}

.text-meta-list .mod-list-item {
	display: block;
}

.text-meta-list .mod-list-item.ui-border-b::after {
	left: 16px;
	width: auto;
}

.mod-list .list-btn {
	font-size: 12px;
	height: 24px;
	display: block;
	text-align: center;
	color: #B3B3B3;
}

.list-btn .ico-turn {
	position: relative;
	display: block;
	width: 7px;
	height: 24px;
}


/* mod-list.css end ]] */


/* 固定提问 */

.mod-q-submit {
	width: 100%;
	bottom: 0;
	padding: 10px 0px;
	min-height: 24px;
	cursor: pointer;
	background-color: #f6f6f6;
}

.mod-q-submit ul {
	text-align: center;
}

.mod-q-submit span {
	display: inline-block;
	vertical-align: middle;
}

.mod-q-submit span.name {
	line-height: 25px;
	color: #919191;
}

.mod-q-submit:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	width: 100%;
	height: 1px;
	background-color: #dadada;
	-webkit-transform: scaleY(0.5);
}


/*更多*/

.mod-selector-cate {
	width: 100%;
	display: -webkit-box;
	position: relative;
	z-index: 6;
	background: #FFF;
}

.mod-selector-cate li {
	height: 40px;
	line-height: 40px;
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
	display: block;
	width: 1%;
	text-align: center;
	font-size: 14px;
	position: relative;
}

.mod-selector-cate li a {
	display: inline-block;
	color: #dadada;
	font-size: 13px;
}

.mod-selector-cate .fg-arrow {
	line-height: 16px;
	margin-left: 12px;
	color: #B2B2B2;
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-webkit-transition: all .3s ease-in-out;
}

.mod-selector-cate .current .fg-arrow:before {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	right: -1px;
}


/*===================================
文件名  ：mod-btns.css
修改人  ：paddyxiong
修改时间：2015-4-29
版  本  ：v1.0
说  明  ： 
====================================*/


/* [[ btns.css start */

.btn {
	min-width: 54px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
	font-size: 13px;
	background: transparent;
	color: #B2B2B2;
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}

.btn.default {
	background: #FFFFFF;
	border: 1px solid #B2B2B2;
	color: #B2B2B2;
}

.btn.default.progress span {
	color: #B2B2B2;
}

.btn.default.progress span.progress-inner {
	background: #aeaeae;
}

.btn.default:active {
	background: #B2B2B2;
	color: #FFFFFF;
}

.btn.primary {
	background: #FFFFFF;
	border: 1px solid #FA8932;
	color: #FA8932;
}

.btn.primary.progress span {
	color: #FA8932;
}

.btn.primary.progress span.progress-inner {
	background: #FA8932;
}

.btn.primary:active {
	background: #FA8932;
	color: #FFFFFF;
}

.btn.primary.fill {
	background: #FA8932;
	color: #FFFFFF;
}

.btn.primary.fill:active {
	background: #E17B2D;
	color: #FFFFFF;
}

.btn.btn-sm {
	width: 42px;
	height: 17px;
	line-height: 15px;
	font-size: 11px;
}

.btn.btn-l,
.btn.size-l {
	width: 120px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-radius: 5px;
}

.btn.btn-full,
.btn.full {
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	border-radius: 5px;
	/*&.progress{
  	span.progress-inner b{
  		width: 100%;
  	}
  }*/
}

.btn.btn-w {
	background: #FFF;
	border: 1px solid #aeaeae;
	color: #b2b2b2;
}

.btn.btn-f {
	background: #FFF;
	border: 1px solid #ff5c50;
	color: #ff5c50;
	background: #ff5c50;
	color: #FFF;
}


/*底部fix按钮*/

.btn-buttom-fixed {
	height: 64px;
}

.btn-buttom-fixed .inner {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 12px;
	background-color: #fff;
}

.btn-buttom-fixed .btn {
	line-height: 40px;
	height: 40px;
	font-size: 18px;
}


/*颜色*/

.btn-green {
	background: #04be02;
	color: #fff;
}

.btn-unclick {
	background: #ccc;
	color: #fff;
}

.btn-blue {
	background: #1fbaf3;
	color: #fff;
}

.btn_area {
	margin: 30px 10px;
}


/* btns.css end ]]*/


/*===================================
文件名: mod-tips.css
编辑者: paddyxiong
编辑时间: 2015-5-13
版本: v1.0
描述：提示
====================================*/

.mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: #000;
	opacity: 0.3;
}

.mod-tips {
	margin: 0 14px;
	text-align: center;
	text-decoration: none;
	position: relative;
}

.mod-tips a {
	color: #15a6dd;
}

.mod-tips-img {
	height: 60px;
	width: 60px;
	margin: 60px auto 20px auto;
	background-repeat: no-repeat;
	background-position: center;
}

.mod-tips-img-success {
	background: url("../../images/mod-tips/mod-tips-icon-success.png");
	background-size: 60px 60px;
}

.mod-tips-img-fail {
	background: url("../../images/mod-tips/mod-tips-icon-fail.png");
	background-size: 60px 60px;
}

.mod-tips-img-reflesh-fail {
	background: url("../../images/mod-tips/mod-tips-icon-reflesh-fail.png");
	background-size: 60px 60px;
}

.mod-tips-img-unusal {
	background: url("../../images/mod-tips/mod-tips-icon-unusal.png");
	background-size: 60px 60px;
}

.mod-tips-img-loading {
	background: url("../../images/mod-tips/mod-tips-icon-loading.png");
	background-size: 60px 60px;
}

.mod-tips-img-warmtips {
	background: url("../../images/mod-tips/mod-tips-img-warmtips.png");
	background-size: 60px 60px;
}

.mod-tips-img-refresh {
	background: url("../../images/mod-tips/mod-tips-img-refresh.png");
	background-size: 60px 60px;
}

.mod-tips-img-norecord {
	background-color: #cbced5;
	background-image: url(../../images/icon-book.png);
	background-size: 32px auto;
	border-radius: 30px;
}

.mod-tips-btn2 {
	width: 100%;
	margin-top: 40px;
}

.mod-tips-btn2 button {
	border-radius: 6px;
	font-size: 14px;
	color: #fff;
	padding: 10px;
	width: 49%;
}

.mod-tips-btn2 .btn1 {
	background-color: #a7a7a7;
}

.mod-tips-btn2 .btn2 {
	background-color: #04be02;
}

.mod-tips-title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

.mod-tips-content {
	font-size: 14px;
	color: #666666;
	margin-bottom: 20px;
	line-height: 22px;
}

.mod-tips-btn {
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	border-radius: 4px;
	font-size: 16px;
}

.mod-tips-close-qq {
	color: #16A7DE;
}

.mod-tips-close-wx {
	color: #ffffff;
	background-color: #04be02;
	width: 98%;
}

.mod-tips-close-app {
	color: #ffffff;
	background-color: #4885D4;
	width: 100px;
}

.waiting-tips-mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 9999;
}

.waiting-tips {
	margin: 0 auto;
	margin-top: 40%;
	background-color: #7c7c7c;
	color: #fff;
	width: 40%;
	height: 6.8em;
	padding-top: 1.3em;
	text-align: center;
	border-radius: 6px;
}

.waiting-tips .img img {
	width: 38px;
	height: 33px;
}

.waiting-tips h3 {
	margin-top: 10px;
	font-size: 1.125em;
}

.waiting-tips p {
	margin-top: 1em;
}

.three-dots-loading {
	text-align: center;
}

.three-dots-loading span {
	margin-top: .1em;
	content: '';
	display: inline-block;
	position: relative;
	width: 1em;
	height: 1em;
}

.three-dots-loading span.dot1:before {
	animation: dot 1s linear 0s infinite alternate;
}

.three-dots-loading span.dot2:before {
	animation: dot 1s linear .125s infinite alternate;
}

.three-dots-loading span.dot3:before {
	animation: dot 1s linear .25s infinite alternate;
}

.three-dots-loading span:before {
	content: '';
	height: .4em;
	width: .4em;
	border-radius: .2em;
	background-color: #fff;
	display: inline-block;
}

@keyframes dot {
	0% {
		background-color: #fff;
	}
	25% {
		background-color: rgba(255, 255, 255, 0.5);
	}
	50% {
		background-color: rgba(255, 255, 255, 0);
	}
	75% {
		background-color: rgba(255, 255, 255, 0.5);
	}
	100% {
		background-color: #fff;
	}
}

body {
	background: #f0eff5;
}


/*标题-内容*/

b {
	font-weight: bold;
}

.noicon:before {
	display: inline-block;
	content: "";
	width: 5px;
	height: 16px;
	background: #18b4ed;
	vertical-align: -2px;
	margin-right: 5px;
}

.q-title {
	position: relative;
	padding: 15px 15px 10px;
	font-size: 16px;
	line-height: 24px;
	background: #fff;
	font-weight: bolder;
}

.q-title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #e1e1df;
	-webkit-transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	margin: 0 15px;
}

.q-content {
	font-size: 15px;
	color: #333;
	line-height: 24px;
	padding: 10px 15px 0;
	background: #fff;
	text-align: justify;
}


/*满意度-点赞*/

.praise {
	position: relative;
	padding: 30px 0 34px;
	background: #fff;
	text-align: center;
}

.praise .result a {
	display: inline-block;
	position: relative;
	line-height: 24px;
	margin: 0 10px;
	padding: 3px 15px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.praise .reason a:before,
.praise .result a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;
}

.praise .result i {
	display: inline-block;
	vertical-align: top;
	width: 22px;
	height: 22px;
	margin-right: 5px;
}

.praise i.icon-like {
	background-image: url("../../images/qq_phone/icon-like.png");
	background-size: 22px 22px;
}

.praise .result i.icon-repost {
	background-image: url("../../images/qq_phone/icon-repost.png");
	background-size: 22px 22px;
	margin-top: 1px;
}

.praise .result .acive i {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.3, 1.3, 1.3);
		transform: scale3d(1.3, 1.3, 1.3);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.3, 1.3, 1.3);
		transform: scale3d(1.3, 1.3, 1.3);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.praise .reason p {
	margin: 10px 0 5px;
	position: relative;
	height: 30px;
	line-height: 30px;
}

.praise .reason p span {
	position: absolute;
	left: 50%;
	margin-left: -124px;
	background: #fff;
	padding: 0 20px;
	color: #b3b3b3;
	z-index: 9;
}

.praise .reason p:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	border-bottom: 1px solid #d5d5d5;
	top: 50%;
	margin: -15px 15px 0;
	z-index: 0;
}

.praise .reason .xx {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 0 10px;
}

.praise .reason .xx a {
	-moz-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	-prefix-box-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	position: relative;
	padding: 6px 0;
	margin: 0 5px;
	font-size: 12px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	float: left;
}

.praise .other {
	padding: 15px 15px 0;
	text-align: right;
	font-size: 12px;
}


/*其他问题四种样式*/

.praise .other a {
	color: #b2b2b2;
	/*默认*/
}

.praise .other.qq a {
	color: #18b4ea;
	/*手Q*/
}

.praise .other.wx a {
	color: #007dfd;
	/*微信*/
}

.praise .other.unclick a {
	color: #d1d1d1;
	/*置灰*/
}


/*默认的样式*/

.praise a {
	color: #919191;
}

.praise a:before {
	border: 1px solid #919191;
}


/*置灰不可点击样式*/

.praise .unclick a {
	color: #d1d1d1;
}

.praise .unclick a:before {
	border: 1px solid #d1d1d1;
}

.praise .unclick a i.icon-like {
	background-image: url("../../images/qq_phone/icon-unclick-like.png");
	background-size: 22px 22px;
}

.praise .unclick a i.icon-repost {
	background-image: url("../../images/qq_phone/icon-unclick-repost.png");
	background-size: 22px 22px;
	margin-top: 1px;
}


/*手Q样式名 qq控制*/

.praise .qq a.current {
	color: #00a5e0;
}

.praise .qq a.current:before {
	border: 1px solid #00a5e0;
}

.praise .qq a.current i.icon-like {
	background-image: url("../../images/qq_phone/icon-like-select.png");
	background-size: 22px 22px;
}

.praise .qq a.current i.icon-repost {
	background-image: url("../../images/qq_phone/icon-repost-select.png");
	background-size: 22px 22px;
	margin-top: 1px;
}


/*WX样式名 wx控制*/

.praise .wx a.current {
	color: #039702;
}

.praise .wx a.current:before {
	border: 1px solid #039702;
}

.praise .wx a.current i.icon-like {
	background-image: url("../../images/qq_phone/icon-wx-like-select.png");
	background-size: 22px 22px;
}

.praise .wx a.current i.icon-repost {
	background-image: url("../../images/qq_phone/icon-wx-repost-select.png");
	background-size: 22px 22px;
	margin-top: 1px;
}

@media (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
	.praise .reason .xx a {
		margin: 0 1px;
	}
}


/*# sourceMappingURL=public-detail.css.map */